@font-face {
    font-family: 'TF Teenage Riot';
    src: url('TFTeenageRiot-Regular.eot');
    src: local('TF Teenage Riot Regular'), local('TFTeenageRiot-Regular'),
        url('TFTeenageRiot-Regular.eot?#iefix') format('embedded-opentype'),
        url('TFTeenageRiot-Regular.woff2') format('woff2'),
        url('TFTeenageRiot-Regular.woff') format('woff'),
        url('TFTeenageRiot-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TF Teenage Riot';
    src: url('TFTeenageRiot-Outline.eot');
    src: local('TF Teenage Riot Outline'), local('TFTeenageRiot-Outline'),
        url('TFTeenageRiot-Outline.eot?#iefix') format('embedded-opentype'),
        url('TFTeenageRiot-Outline.woff2') format('woff2'),
        url('TFTeenageRiot-Outline.woff') format('woff'),
        url('TFTeenageRiot-Outline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

