:root {
    --preto: 218, 24%, 13%;
    --branco: 3, 8%, 87%;
    --escuro: 224, 23%, 25%;
    --claro: 327, 5%, 68%;
    --destaque: 325, 26%, 76%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


body {
    margin: 0;
    width: 100vw;
    max-width: 100%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 48px;
    color: hsl(var(--claro));
    background-color: hsl(var(--preto));
}

a, a:visited {
    color: hsl(var(--destaque));
    text-decoration: none;
}

main {
    width: 100vw;
    max-width: 100%;
}


section{
    position:relative;
    max-width: 100svw;
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrap{
    display: flex;
    max-width: 1200px;
    width: 98svw;
    margin-inline: auto;
    padding-inline: min(4svw, 24px);
    padding-block: 50px;
    background-color: hsl(var(--preto));
}

@media (max-width: 480px) {
    body {
        font-size: 32px;   
    }
    .wrap {
        flex-direction: column;
    }
}

#heroBG {
    position: absolute;
    width: 100%;
    overflow-x: hidden;
}

#heroBG>img {
    min-width: 100vw;
    min-height: 110vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#heroWrap {
    position: relative;
    height: 100svh;
    padding-inline: 0;
    background:none ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#luaink {
    width: auto;
    max-height: 60svh;
    max-width: 80svw;
}

#heroCTA {
    width: 100%;
}

.cta {
    display: table-cell;
    width: 98svw;
    padding-block: 20px;
    text-decoration: none;
    font-size: 1.5em;
    color: hsl(var(--destaque));
    transition: color 250ms, background 250ms, box-shadow 250ms;
}

.cta:hover{
    box-shadow: inset 0 0 0 2px hsl(var(--destaque));
}

#ctaTrampos {background: hsl(var(--escuro));color: hsl(var(--claro));}
#ctaContato {background: hsl(var(--claro));color: hsl(var(--escuro));}
#ctaTrampos:hover {background: hsl(var(--branco));color: hsl(var(--destaque));}
#ctaContato:hover {background: hsl(var(--preto));color: hsl(var(--destaque));}

@media (max-width: 480px) {
    .cta {
        display: block;
    }
}

#heroSwipe {
    position: absolute;
    bottom: 0px;
}

#sobreWrap {
    align-items: center;
}

#sobreWrap>div{
    width: 50%;
}

#sobreRetrato>img {
    width: 130%;
}

#sobreInfo {
    height: 100%;
    padding: 20px;
    background-color: hsla(var(--escuro) , 0.85);
    border: 1px solid hsl(var(--claro));
    text-align: left;
    box-shadow: 10px 10px 0 hsl(var(--claro));
}

#sobreTitulo {
    font-size: 2.5em;
}
#sobreTXT {
    padding-left: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 0.6em;
}

@media (max-width: 480px) {
    #sobreWrap {
        display: block;
        align-items: unset;
    }
    
    #sobreWrap>div{
        width: 90%;
    }

    #sobreRetrato {
        height: 40svh;
    }

    #sobreRetrato>img {
        position: relative;
        top: 0px;
        width: 100%;
        aspect-ratio: 1/1.3;
    }

    #sobreInfo{
        position: relative;
        float: right;
    }

}

#tramposWrap {
    flex-direction: column;
}

#tramposTOP, #tramposGaleria{
    margin-bottom: 50px;
}

#tramposTOP h3{
    font-size: 3em;
}

#trampos p{
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}

#tramposGaleria {
    display: grid;
    grid-template-columns: auto auto auto;
}

#tramposGaleria>a {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    text-decoration: none;
    color: hsl(var(--destaque));
}
#tramposGaleria>a:hover .trampoAbre {
    transition: opacity 250ms;
    opacity: 1;
}

.trampoAbre {
    width: 100%;
    height: 100%;
    position: relative;
    top: -100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
    background-color: hsla(var(--escuro) , 0.8);
    border: 4px solid hsl(var(--destaque));
    opacity: 0.0;
}

.trampoVe {
    font-size: 1.5em;
}

.instaICO {
    height: 40%;
}

.trampoCurte {
    font-size: 0.75em;
}

.trampoFoto {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#tramposFIM h3{
    font-size: 2em;
}

#tramposFIM div>*{
    display: inline-block;
}

#tramposFIM div{
    display: inline-flex;
}

#tramposFIM p{
    text-align: right;
}

#tramposFIM a{
    margin-left: 40px;
}

#tramposFIM img{
    position: relative;
    height: 120%;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 480px) {
    #tramposFIM div {
        justify-content: center;
        align-items: center;
    }

    #tramposFIM a {
        display: flex;
        width: 30%;
    }

    #tramposFIM img {
        width: 100%;
        height: auto;
        top: unset;
        transform: unset;
    }    
    #tramposFIM p {
        font-size: 0.6em;
    }
}

#zap {
    background-image: url(images/zap_bg.jpg);
    background-size: cover;
    background-position-y: center;
    padding-block: 50px;
    color: hsl(var(--escuro))
}
#zapWrap {
    padding-inline: min(4svw, 24px);
    padding-block: 50px;
    margin: auto;
    border-radius: 0px 40px 40px 40px;
    background-color: #25d36680 ;
}

#zapWrap::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -30px;
    border: 0 solid transparent;
    border-width: 0px 30px 30px 0px;
    border-right-color: #25d36680;
}

#zapWrap>* {
}

#zapWrap>div {
    margin-inline: auto;
    text-align: right;
}

#zapChamada {
    font-size: 2.2em;
}

#zapBotao {
    padding-inline: 20px;
    background: hsla(var(--escuro),0.75);
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    color: hsl(var(--claro));
    transition: color 250ms, background 250ms, box-shadow 250ms;
}

#zapBotao:hover{
    color: hsl(var(--destaque));
    background: hsla(var(--escuro),1);
    box-shadow: inset 0 0 0 2px hsl(var(--destaque));

}

#zapBotao img{
    position: relative;
    height: 75px;
    transform: translateY(30%);
    margin: 0 10px;
}

#zapSubTitulo {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}

#localWrap>div{
    width: 50%;
    aspect-ratio: 1/0.8;
    border: 4px solid hsl(var(--claro));
}

#localTrampo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 0;
}

#localTXT, #localAtual {
    font-size: 1.2em;
}
.localPrev {
    font-family: "Roboto", sans-serif;
    font-size: 0.75em;
    text-decoration: line-through;
    opacity: 0.5;
}
#localEndereco {
    font-family: "Roboto", sans-serif;
    font-size: 0.75em;
}

#localMapa a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: hsl(var(--destaque));
    background-image: url(images/mapa.jpg);
    background-size: cover;
}

#localMapa a div {
    display: block;
    position: absolute;
    top: calc(50% + 30px);
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 50px;
    background-color: hsl(var(--escuro));
    border-radius: 40px;
}

#localMapa a div::before {
    content: '';
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border: 0 solid transparent;
    border-width: 0px 30px 30px 30px;
    border-bottom-color: hsl(var(--escuro));
}

#localMapa a div>* {
    display: block;
}

#localMapa a span {
    font-family: "Roboto", sans-serif;
    font-size: 0.75em;
}


@media (max-width: 480px) {
    #localWrap>div{
        width: 100%;
    }
    
    #localMapa a {
        background-position-y: -50px;
    }
    
    #localMapa a div {
        top: calc(50% + -15px);
    }

    #localMapa a span {
        font-size: 0.5em;
    }
}

footer {
    max-width: 800px;
    width: 60%;
    margin: 0 auto;
    padding-block: 5px;
    background-color: hsl(var(--claro));
    font-size: 0.5em;
}

footer a {
    text-decoration: none;
    color: hsl(var(--escuro));
}