:root {
    --dark: #232323;
    --light: #dfdfdf;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    /* scroll-snap-type: y proximity; */
}

@media (min-width: 480px) {
    html {scroll-snap-type: y proximity;}
}

body {
    margin: 0;
    width: 100vw;
    max-width: 100%;
    background-image: url("images/background.png");
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 32px;
    color: var(--light);
}

a {
    all: unset;
}

main {
    width: 100vw;
    max-width: 100%;
}

main {max-width: 1920px;margin-inline: auto;box-shadow: 0 0 50px 10px var(--dark);}
@media (min-width: 480px) {
}
section{
    position:relative;
    width: 100%;
    min-height: 100svh;
    margin: 0;
    padding: 0;
    scroll-snap-align: start;
}

.wrap{padding-block: 20px;}

.showMob {display: block;}
.showDesk {display: none;}
@media (min-width: 480px) {
    .showMob {display: none;}
    .showDesk {display: block;}
}



#heroWrap {
    position: relative;
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroBG video{
    content: url(images/fotoLua.png);
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
}


#heroBGmob:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: url("images/heroPattern.gif");
}
#heroBGmob::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    background: url("images/heroGradient.png");
}

#luaLogo {
    width: 100%;
    opacity: 0;
    animation: luaLogo 4s cubic-bezier(.57,.21,.69,1.25) forwards;
}

@media (min-width: 480px) {
    #luaLogo {width: auto;height: 40svh;}
    #logoDesk {height: inherit;}
}

@keyframes luaLogo {
    0% {
        opacity: 0;
        transform: scale(2);
    } 30% {
        transform: scale(1);
    }
    100% {
        opacity: 1;
    }
}

#logoMob{
    width: auto;
    margin-inline: auto;
}

#heroTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.cta {
    width: 60vw;
    margin-inline: auto;
    border-radius: 10px;
    font-size: 2em;
}

#ctaTrampos {
    background: var(--light);
    color: var(--dark);
}
#ctaContato {
    background: var(--dark);
    color: var(--light);
    border: 1px solid var(--light);
}
#heroSwipe{
    position: relative;
    width: 30px;
    height: 70px;
    margin-inline: auto;
}
#heroSwipeBG{
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0;
    bottom: 0px;
    background: rgb(from var(--light) r g b / 20%);
    border-radius: 15px;
}

#heroSwipeFinger{
    width: 30px;
    height: 30px;
    background-color: var(--light);
    border-radius: 50px;
}

#heroBGdesk {background: url(images/hero_bg.png) center top;background-size: auto 100%;}


.heroEnter {animation: heroEnter 0.75s ease-out forwards;opacity: 0;}
#heroTitle {animation-delay: 1s;}
#ctaTrampos {animation-delay: 1.5s;}
#ctaContato {animation-delay: 2s;}

.animate #heroSwipeBG {
    animation: heroUP 2s cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite;
    animation-delay: 3s;
    opacity: 0;
    height: 30px;
}

@keyframes heroEnter {
    0% {
        transform: translateY(10svh);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes heroUP {
    0% {
        opacity: 0;
    } 40% {
        opacity: 1;
        height: 30px;
    } 60% {
        opacity: 1;
        height: 70px;
    } 100% {
        opacity: 0;
        height: 70px;
    }
}

#sobre{
    width: 100%;
    /* height: fit-content; */
    /* background: #101010; */
    background: url(images/background.png) fixed;
}
#sobreWrap{
    width: 80%;
    margin-inline: auto;
    padding-block: 20px;
}

#sobreWrap>*{
    padding-block: 20px;
}


#sobreRetrato {
    max-height: 40svh;
    padding-block: 0;
    margin-block: 20px;
    text-align: left;
}


#sobreRetrato img {
    max-width: 100%;
    max-height: inherit;
    opacity: 0;
}

.animate #sobreRetrato img{
    animation: luaFoto 3000ms ease-in forwards;
    animation-delay: 250ms;
}

@keyframes luaFoto {
    0% {
        max-height: 80svh;
        transform: translateX(-50%);
        opacity: 0;
    } 30% {
        transform: translateX(0);
        opacity: 1;
    } 70% {
        max-height: 80svh;
    } 100% {
        opacity: 1;
        max-height: 40svh;
    }
}

#sobreTitle {
    font-size: 1.5em;
    text-align: left;
    opacity: 0;
}

#sobreTXT {
    opacity: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 100;
    text-align: justify;
}

.animate #sobreTitle {
    animation: luaTXT 1500ms ease-in forwards;
    animation-delay: 3000ms;
}

.animate #sobreTXT {
    animation: luaTXT 1500ms ease-in forwards;
    animation-delay: 4000ms;
}

@keyframes luaTXT {
    0% {
        transform: translateY(100px);
        opacity: 0;
    } 75% {
        transform: translateY(0px);
        opacity: 0.5;
    } 100% {
        opacity: 1;
    }
}

#local {
    background: url(images/localBG.jpg) no-repeat center;
    background-size: cover;
}


#localPrev {
    text-decoration: line-through;
    opacity: 0.5;
}

#insta {
    height: fit-content;
    position: inherit;
    background: none;
}

#instaWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instaLogo{
    position: relative;
    height: 40svh;
    /* margin-block: 20px; */
}
#instaLogoImg {
    height: inherit;
    /* position: relative;
    width: fit-content;
    margin: 0 auto; */
}

#instaLogoImg img {
    /* width: auto; */
    height: inherit;
}

#instaChamada {
    position: absolute;
    top: 50%;
    left: -60px;
    font-size: 1.5em;
    padding: 15px 60px;
    transform: translateY(-50%);
    background: var(--dark);
}

/* #instaFotos {
    height: 100svh;
    display: grid;
    grid-template-rows:repeat(auto-fit,  minmax(10px, max-content));
} */

#instaFotos {
    width: 100%;
    overflow: hidden;
    padding-block: 20svh;
}

.instaFoto{
    /* width: 40%;
    display: inline-block;; */
    height: 20svh;
    opacity: 0;
    transform: rotateZ(12deg);
    margin-block: 50px;
}

.instaFoto img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: -30px -30px 100px 0px black;
    outline: 10px solid var(--light);
    outline-offset: -10px;
}

.animate .instaFoto{
    animation: instaFoto 1500ms cubic-bezier(0.39, 0.58, 0.57, 1) forwards;
    animation-delay: 500ms;
}

#Foto01 {animation-delay: 0250ms;}
#Foto02 {animation-delay: 0500ms;}
#Foto03 {animation-delay: 0750ms;}
#Foto04 {animation-delay: 1000ms;}

@keyframes instaFoto {
    0% {
        transform: scale(0.1) translateY(500px) translateX(-750px) rotateZ(180deg);
        opacity: 0;
    } 75% {
    } 100% {
        transform: scale(1) translateY(0px) translateX(0px) rotateZ(12deg);
        opacity: 1;
    }
}

#zap {
    background: rgb(122, 7, 112);
}

#zapWrap {
    
}


#zapButton {
    border: none;
    border-radius: 100vw;
    background: green;
    outline: 3px solid rgb(0 128 0);
    outline-offset: -3px;
}

#zapButton:hover,
#zapButton:focus{
    transition: 1s;
    outline: 50px solid rgb(0 128 0 / 0.0);
    outline-offset: 30px;
}

#mapa {
    background: rgb(122, 114, 7);
}
#mapaIMG {
    background-image: url(images/header_bg_01.jpg);
}

#mapaButton {
    border: none;
    border-radius: 100vw;
    background: rgb(128, 5, 5);
}

footer{
    scroll-snap-align: end;
}