* {
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant Garamond', serif;
    font-size: 32px;
    color: #d0ccc9;
    margin: 0;
    width: 100vw;
    max-width: 100%;
    background-image: url("../images/background.png");
}
#content{
    max-width: 1800px;
    width: auto;
    margin: 0 auto;
}
#content > div{
    max-width: 1280px;
    margin: 200px auto;
}
#top{
    position: relative;
    background-image: url("../images/top.png");
    background-repeat: no-repeat;
    background-position: center top;
    width: auto;
    max-width: 1800px !important;
    height: 100px;
    margin: 0 auto !important;
    text-align: center;
}
/* #top::before{
    content: "";
    display: block;
    position: absolute;
    width: 1680px;
    height: 100px;
    left: 0px;
    right: 0px;
} */
#top span{
    position: relative;
    display: block;
    margin: 0px auto;
    padding-top: 15px;
}
#top span > *{
    position: relative;
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    margin: -10px;
    padding: 10px 30px;
    background-color: rgba(0,0,0,0.50);
}

#hero{
    position: relative;
    width: 100%;
    max-width: 1800px !important;
    height: 800px;
    /* border: 2px red solid; */
    margin: 0 auto !important;
    overflow: hidden;
    text-align: center;
}
#hero::before{
    content: "";
    display: block;
    position: absolute;
    left: -9999px;
    right: -9999px;
    width: 1800px;
    z-index: -1;
    height: 800px;
    margin: auto;
    background: url(../images/header_bg_02.jpg) no-repeat center top;
    border-radius: 50px;
    box-shadow: inset 0 5px 10px black;
}
#hero > *{
    margin: 50px 0;
}
#hero img {
    width: auto;
}
/* #logo{
    display: inline-block;
} */
#heroFine{
    background: url(../images/fineline_.png) no-repeat center;
}
#sobre{
    max-width: 1280px;
    width: 100%;
}
#sobre > div{
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding-inline: 50px;
}
#fotoLua{
    width: 45%;
}
#fotoLua > img{
    width: 100%;
}

#sobreLua{
    width: 54%;
    padding-top: 10px;
}
#sobreTitulo{
    font-family: 'Cormorant Garamond', serif;
    font-size: 3em;
    margin-block: auto;
}
#sobreTXT{
    font-family: 'Roboto', sans-serif;
    margin-left: 1em;
}

#local{
    max-width: 100% !important;
    width: 100%;
    color: #252220;
    text-align: center;
    padding: 20px 0;
    background-color: #d0ccc9;
}
#local > * {
    margin: 0;
}
#localTitulo {
    font-weight: 300;
}
#localLocal {
    font-size: 3em;
}
#local .risca {
    font-size: 2em;
    text-decoration: line-through;
    opacity: 90%;
}
#insta {
    display: block;
}
#instaLogo {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 30%;
}
#instaLogo img {
    display: inline-block;
    position: relative;
    width: 100%;
}
#instaSiga {
    position: absolute;
    margin: 0;
    padding: 20px 50px;
    transform: translateY(-50%);
    top: 50%;
    left: -75px;
    font-size: 2em;
    color: #252220;
    background-color: #d0ccc97a;
}

#insta ul {
    display: flex;
    vertical-align: top;
    float: right;
    width: 70%;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(10px, max-content)) ;
    
}
#insta li {
    display: inline-block;
    box-shadow: -20px 0px 50px #000;
}
#instaFoto_04 {transform: perspective(400px) rotateY(10deg);}
#instaFoto_03 {transform: perspective(400px) rotateY(20deg);}
#instaFoto_02 {transform: perspective(400px) rotateY(30deg);}
#instaFoto_01 {transform: perspective(400px) rotateY(40deg);}

#zapTXT {
    display: none;
}
#zapLogo {
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    #hero::before{
        box-shadow: inset 0 -10px 10px rgba(0,0,0,0.25);
    }
    #hero img {
        max-width: 85vw;
        object-fit: cover;
    }
    
}
