:root {
    --dark: #232323;
    --bright: #d0d0d0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url("images/background.png");
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 32px;
    color: var(--bright);
}

main {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}

section{
    position:relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    scroll-snap-align: start;
}

footer {
    scroll-snap-align: end;
}

#heroWrap > div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#heroWrap > .heroBG {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(images/hero_bg_mob.png) no-repeat center top;
    background-size: cover;

}
.hero img{
    max-width: 80vw;
}

.luaLogo {
    top: 5%;
    bottom: unset;
    transform: translateX(-50%);
    opacity: 0;
    animation: luaLogo 1500ms ease-out forwards;
}

@keyframes luaLogo {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
    from {
        top:-10%;
    } to {
        top:5%;
    }
}

.hero .heroSlider {animation: heroSlide 6s ease-out infinite;}
.heroSlider:nth-child(3) {animation-delay: 2s;}
.heroSlider:nth-child(4) {animation-delay: 4s;}
.heroSlider:nth-child(5) {animation-delay: 6s;}

@keyframes heroSlide {
    0% {
        bottom: 10%;
        opacity: 0;
    }
    10% {
        bottom: 20%;
        opacity: 1;
    }
    30% {
        bottom: 20%;
        opacity: 1;
    }
    40% {
        bottom: 10%;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 0;
    }
}

.heroTXT h1, .heroTXT h2{
    background-color: #232323;
}

.sobreTitle {
    font-size: 1.5em;
    text-align: left;
    padding: 50px 20px;
}

.sobreRetrato {
    max-width: 90%;
    max-height: 80vh;
    aspect-ratio: 0.76 / 1 ;
    margin: 0 auto;
    opacity: 0;
    background: url(images/fotoLua.png) no-repeat center top;
    background-size: cover;
}

.animate .sobreRetrato {
    animation: luaFoto 5500ms forwards;
    animation-delay: 500ms;
}

@keyframes luaFoto {
    0% {
        opacity: 0;
    } 50% {
        opacity: 1;
    } 80% {
        opacity: 1;
    } 99% {
        opacity: 0;
        height: auto;
    } 100%{
        height: 0;
    }
}

.sobreTXT {
    width: 85%;
    margin: 0 auto;
    opacity: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    text-align: justify;
}

.animate .sobreTXT {
    animation: luaTXT 1500ms ease-in forwards;
    animation-delay: 6100ms;
}

@keyframes luaTXT {
    0% {
        transform: translateY(100px);
        opacity: 0;
    } 75% {
        transform: translateY(0px);
        opacity: 0.5;
    } 100% {
        opacity: 1;
    }
}

.local {
    background: url(images/localBG.jpg) no-repeat center;
    background-size: cover;
}

#localWrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: var(--dark);
}

#localWrap > * {
    line-height: 0;
    margin: 0;
    /* opacity: 0; */
    overflow: hidden;
}

.localPrev {
    text-decoration: line-through;
    opacity: 0.5;
}

.local.animate .wrap > * {animation: localItens 1s ease-out forwards;}
.local.animate .wrap > *:nth-child(1) {animation-delay: 0s;}
.local.animate .wrap > *:nth-child(2) {animation-delay: 0.7s;}
.local.animate .wrap > *:nth-child(3) {animation-delay: 1.4s;}

@keyframes localItens {
    0% {
        line-height: 0%;
        margin: 0px 0;
    } 50% {
        /* opacity: 0; */

    } 100% {
        /* opacity: 1; */
        line-height: 100%;
        margin: 40px 0;
    }
}

.insta {
    background: none;
}
.instaLogo{
    position: relative;
    padding-block: 40px;
}
.instaLogoImg {
    width: 80vmin;
    height: 80vmin;
    margin: 0 auto;
}
.instaLogoImg img{
    width: 100%;
    height: auto;
}

.instaChamada{
    position: absolute;
    top: 50%;
    left: 5px;
    padding: 10px 60px;
    transform: translateY(-50%);
    background: var(--dark);
}

.instaFoto{
    /* position: relative; */
    width: 40%;
    display: inline-block;;
}

.instaFoto img {
    width: 100%;
    height: auto;
}

.zap {
    background: rgb(122, 7, 112);
}

#zapWrap {
    position: absolute;
    width: 80vw;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 100vw;
    border-top-left-radius: 0;
    text-align: left;
    background: rgb(60, 157, 60);
    
}

.zapChamada, .zapSubT{text-wrap: pretty;}

.zapButton {
    position: absolute;
    width: 80vw;
    height: 80vw;
    bottom: 0px;
    left: 0;
    border: none;
    border-radius: 100vw;
    background: green;
    outline: 3px solid rgb(0 128 0);
    outline-offset: -3px;
}

.zapButton:hover,
.zapButton:focus{
    transition: 1s;
    outline: 50px solid rgb(0 128 0 / 0.0);
    outline-offset: 30px;
}

.mapa {
    background: rgb(122, 114, 7);
}
.mapaIMG {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url(images/header_bg_01.jpg);
}

.mapaButton {
    position: absolute;
    width: 20vmin;
    height: 20vmin;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: none;
    border-radius: 100vw;
    background: rgb(128, 5, 5);
}